# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
store-book-react
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
configs/deployment.env
configs/.s3cfg

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

.claude

# Build Outputs
.next/
out/
build
dist
apps/plugins/public/plugins/

# macOS
.DS_Store
**/.DS_Store


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
